<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% end %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/upload.css">
    <script type="text/javascript" src="/static/js/scratch.js"></script>
  </head>
  <body>
  {% autoescape None %}
  {% block main %}
  {% end %}
  </body>
</html>
