{% extends "base.html" %}

{% block title %}Страница Администратора Теста{% end %}

{% block main %}

<style>

    table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
border-collapse: collapse;
color:#A0522D;
width: 100%;
}
caption {
padding: 10px;
color: white;
background: #FFE4B5;
font-size: 18px;
text-align: left;
font-weight: bold;
}
th {
border-bottom: 3px solid #FFE4B5;
padding: 10px;
text-align: left;
text-align: center;
margin: 10px auto;
}
td {
padding: 10px;
text-align: center;
margin: 10px auto;
}
tr:nth-child(odd) {
background: white;
}
tr:nth-child(even) {
background: #FFE4B5;
}
table.gridclass img {
    max-width: 400px;
    max-height: 200px;
}


</style>

<header class="uk-background-primary uk-background-norepeat uk-background-cover uk-background-center-center uk-light"
style="background-image: url(/static/img/searchbg.jpg);">
</header>

<div class="uk-section uk-position-relative uk-position-z-index" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
    <div>
      <a href="/">BACK</a>
    </div>
    <div class="uk-container" style='text-align: center;'>
            {{ blocks.as_table() }}
            <br>
            {{resultForm.as_table()}}

    </div>
  </div>



{% end %}
