{% extends "base.html" %}

{% block title %}File upload{% end %}

{% block main %}

<div id="fileupload"> <!-- это название нельзя менять !-->
  <span style="bold">File upload</span>

  <form name="filesendform" action="/" method="POST">
    {{fileform.render()}}
    <input type="submit" id='submitbutton' value="Отправить">
  </form>
</div>

<script>InitFileApi()</script>
{% end %}