{% extends "base.html" %}

{% block title %}Страница Загрузки Файла{% end %}

{% block main %}

<div id="fileupload"> <!-- это название нельзя менять !-->
  <span style="bold">Загрузка файла</span>

  <form name="filesendform" action="/regularform" enctype="multipart/form-data" method="POST">
    {{fileform.as_p()}}
    <input type="submit" id='submitbutton' value="Отправить">
  </form>
</div>

<script>InitFileApi()</script>
{% end %}
